---
# Install and configure Keystone
- name: Install the Keystone package
  yum: name={{ item }} state=present
  with_items:
    - openstack-keystone
    - httpd
    - mod_wsgi
    - memcached
    - python-memcached
  tags: keystone

- name: Edit the /etc/keystone/keystone.conf file and complete the following actions
  ini_file: >
      dest=/etc/keystone/keystone.conf section={{ item.section }}  option={{ item.option }} value={{ item.value }}
  with_items:
    - { section: 'DEFAULT',option: 'admin_token',value: '{{ admin_token  }}' }
    - { section: 'database',option: 'connection ',value: 'mysql://keystone:{{ keystone_dbpass }}@{{ mysql_host }}/keystone' }
    - { section: 'memcache',option: 'servers',value: 'localhost:11211' }
    - { section: 'token',option: 'provider',value: 'uuid' }
    - { section: 'token',option: 'driver',value: 'memcache'}
    - { section: 'revoke',option: 'driver',value: 'sql'}
    - { section: 'DEFAULT',option: 'verbose',value: 'True'}
    - { section: 'DEFAULT',option: 'debug',value: 'True'}
  tags: keystone

- name: keystone_manage_db_sync
  shell: su -s /bin/sh -c "keystone-manage db_sync" keystone
  tags: keystone