---
- name: restart_keystone_enable
  service: name={{ item }}  state=restarted  enabled=yes
  with_items:
    - memcached.service
#    - openstack-keystone.service
  tags: keystone_start

- name: restart_keystone_httpd_enable
  service: name={{ item }}  state=restarted  enabled=yes
  with_items:
    - httpd.service
  tags: keystone_start
