---
  - name: create_database
    mysql_db: login_user=root name={{ item }} encoding=utf8 state=present
    with_items:
      - zabbix
    tags: create_database

  - name: create_zabbix_user
    mysql_user: login_user=root name={{ zabbixdb_user }} password={{ zabbixdb_password }} host='localhost' priv='zabbix.*:ALL' state=present
    tags: create_zabbix_user
  
