---
  - name: edit_firewall
    firewalld: permanent=true zone=public port={{ item }} state=enabled
    with_items:
      - "80/tcp"
      - "10050/tcp"
      - "10051/tcp"
    when:
      (ansible_distribution == "CentOS" and ansible_distribution_major_version == "7")
    tags: edit_firewall

  - name: restart_firewall
    command: systemctl restart firewalld
    when:
      (ansible_distribution == "CentOS" and ansible_distribution_major_version == "7")
    tags: restart_firewall