---
# Install and configure agents
- name: Install agent packages
  yum: name={{ item }}
  with_items:
    - openstack-neutron
    - openstack-neutron-ml2
    - openstack-neutron-linuxbridge
    - python-neutronclient
    - ebtables
    - ipset
  tags: agent_install