---
  - name: Config Mariadb
    ini_file: >
          dest=/etc/my.cnf.d/mariadb_openstack.cnf section={{ item.section }}  option={{ item.option }} value={{ item.value }}
    with_items:
      - { section: 'mysqld',option: 'bind-address',value: '0.0.0.0' }
      - { section: 'mysqld',option: 'default-storage-engine',value: 'innodb' }
      - { section: 'mysqld',option: 'collation-server',value: 'utf8_general_ci' }
      - { section: 'mysqld',option: 'init-connect',value: "'SET NAMES utf8'" }
      - { section: 'mysqld',option: 'character-set-server',value: 'utf8'}
    tags: mariadb_config