---
# configure Message queue

- name: Config the Rabbitmq add user
  rabbitmq_user: user={{ rabbit_user }} password={{ rabbit_pass }} vhost=/ configure_priv=.* read_priv=.* write_priv=.* state=present
  tags: rabbitmq_config

- name: Enables the rabbitmq_management plugin
  rabbitmq_plugin: names=rabbitmq_management state=enabled
  tags: rabbitmq_config