---
  - name: zabbix_server_config
    copy: src={{ item.a }} dest={{ item.b }} group={{ item.c }} owner={{ item.d }} mode={{ item.e }} force=yes
    with_items:
      - { a: 'graphfont.ttf',b: '/usr/share/zabbix/fonts/',c: 'root',d: 'root',e: '0777' }
      - { a: 'locales.inc.php',b: '/usr/share/zabbix/include/',c: 'root',d: 'root',e: '0644' }
    tags: zabbix_server_config

  - name: edit_zabbix_server_conf
    template: src=zabbix_server.j2 dest=/etc/zabbix/zabbix_server.conf 
    tags: edit_zabbix_server_conf

  - name: edit_php_config
    ini_file: dest=/etc/php.ini section={{ item.section }} option={{ item.option }} value={{ item.value }}
    with_items:
      - { section: 'Date',option: 'date.timezone',value: 'Asia/Shanghai' }
    tags: edit_php_config
   

