---
  - name: zabbix_server_package
    yum: name={{ item }} state=present
    with_items:
      - httpd
      - php
      - php-mysql
      - php-common 
      - php-mbstring 
      - php-gd 
      - php-odbc 
      - php-pear 
      - curl 
      - curl-devel 
      - net-snmp 
      - net-snmp-devel 
      - perl-DBI 
      - php-xml 
      - ntpdate  
      - php-bcmath 
      - libxml2-devel 
      - fping 
      - ipmitool
      - MySQL-python
    tags: zabbix_server_package
