---
    - name: install httpd
      yum: name=httpd state=installed

    - name: conf httpd
      lineinfile: dest=/etc/httpd/conf/httpd.conf regexp=^ServerName line="ServerName 127.0.0.1:80"

    - name: start httpd
      service: name=httpd enabled=yes state=restarted
