#日志路径
LogFile=/var/log/zabbix/zabbix_proxy.log

#PID路径
PidFile=/var/run/zabbix/zabbix_proxy.pid

#日志轮询
LogFileSize=0
#DebugLevel=4

#zabbix server的ip地址
Server={{ zabbix_server }}

#proxy主机名，在zabbix web会以这个名字为准
Hostname={{ ansible_hostname }}

#指定数据库
DBHost=localhost

#数据库名
DBName=zabbix

#数据库用户
DBUser={{ zabbixdb_user }}

#数据库密码
DBPassword={{ zabbixdb_password }}

#DBSocket路径
DBSocket=/var/lib/mysql/mysql.sock

#当数据发送到Server，还要在本地保留多少小时.不保留
ProxyLocalBuffer=0

#当数据没有发送到Server，在本地保留多少小时，1小时
ProxyOfflineBuffer=1

#心跳检测代理在Server的可用性
HeartbeatFrequency=60

#代理多久从Server获取一次配置变化，默认3600秒.
ConfigFrequency=60

#代理收集到数据后，多久向Server发送一次.
DataSenderFrequency=5

#开启多线程数,一般不超过30个
StartPollers=30

#该线程用来单独监控无法连接的主机
StartPollersUnreachable=30

#trapper线程数
StartTrappers=50

#fping线程数
StartPingers=10

#用于discover的discoverer的进程数
StartPingers=10

#用来保存监控数据的缓存数，根据监控主机数量适当调整
CacheSize=2048M

#超时时间
Timeout=30

#超时时间
TrapperTimeout=30

#配合simple check icmp检测使用
FpingLocation= /usr/sbin/fping

#发现进程数
StartDiscoverers=5

#IPMI抓取进程数
StartIPMIPollers=30

#日志慢查询
LogSlowQueries=3000

#自定义脚本存放路径
ExternalScripts=/usr/lib/zabbix/externalscripts

#SNMP陷阱日志路径
SNMPTrapperFile=/var/log/snmptrap/snmptrap.log
