---
# Install and configure Glance

- name: Install the Glance package
  yum: name={{ item }} state=present
  with_items:
      - openstack-glance
      - python-glance
      - python-glanceclient
  tags: glance_install