---
  - name: install zabbix_3.0 repo
    yum: name={{ item }} state=present
    with_items:
      - http://repo.zabbix.com/zabbix/3.0/rhel/7/x86_64/zabbix-release-3.0-1.el7.noarch.rpm
      - libselinux-python
      - MySQL-python
      - firewalld
    notify: restart firewalld
    tags: zabbix_init

  - name: set selinux
    selinux: state=disabled
    tags: selinux_set
