output {
        elasticsearch {
                hosts => "{{ esip }}:9200"
                document_type => "%{type}"
                workers =>2
                index => "logstash-%{type}-%{+YYYY.MM.dd}"
        }
}

