---
# Install and configure neutron
- name: restart_openstack_nova_service_and_Boot_enable
  service: name={{ item }}  state=restarted enabled=yes
  with_items:
    - openstack-nova-api.service
    - neutron-server.service
  tags: neutron_server_start