---
# Config /etc/neutron/plugins/ml2/ml2_conf.ini
- name: Edit the /etc/neutron/plugins/ml2/ml2_conf.ini file and complete the following actions
  ini_file: >
    dest=/etc/neutron/plugins/ml2/ml2_conf.ini  section={{ item.section }}  option={{ item.option }} value={{ item.value }} 
  with_items:
    - { section: 'ml2',option: 'type_drivers  ',value: 'flat,vlan,vxlan' }
    - { section: 'ml2',option: 'tenant_network_types ',value: 'vxlan'}
    - { section: 'ml2',option: 'mechanism_drivers ',value: 'linuxbridge,l2population'}
    - { section: 'ml2',option: 'extension_drivers ',value: 'port_security'}
    - { section: 'ml2_type_flat',option: 'flat_networks  ',value: 'public'}
    - { section: 'ml2_type_vxlan',option: 'vni_ranges  ',value: '1:1000'}
    - { section: 'securitygroup',option: 'enable_ipset  ',value: 'True'}
  tags: neutron