---
# Config /etc/nova/nova.conf
- name: Edit the /etc/nova/nova.conf file and complete the following actions
  ini_file: >
     dest=/etc/nova/nova.conf  section={{ item.section }}  option={{ item.option }} value={{ item.value }} 
  with_items:
    - { section: 'neutron',option: 'url',value: 'http://{{ controller }}:9696' }
    - { section: 'neutron',option: 'auth_url ',value: 'http://{{ controller }}:35357'}
    - { section: 'neutron',option: 'auth_plugin',value: 'password'}
    - { section: 'neutron',option: 'project_domain_id ',value: 'default'}
    - { section: 'neutron',option: 'user_domain_id ',value: 'default'}
    - { section: 'neutron',option: 'region_name ',value: 'RegionOne'}
    - { section: 'neutron',option: 'project_name ',value: 'service'}
    - { section: 'neutron',option: 'username ',value: 'neutron'}
    - { section: 'neutron',option: 'password ',value: '{{ neutron_pass }}'}
    - { section: 'neutron',option: 'service_metadata_proxy  ',value: 'True'}
    - { section: 'neutron',option: 'metadata_proxy_shared_secret ',value: '{{ metadata_secret }}'}
  tags: neutron